In [1]:
import pandas as pd

In [2]:
animes = pd.read_csv('anime.csv')

In [3]:
animes.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
animes.shape

(12294, 7)

In [5]:
animes['tag'] = animes['name']+animes['genre']

In [6]:
animes.head()

,anime_id,name,genre,type,episodes,rating,members,tag
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,"Kimi no Na wa.Drama, Romance, School, Supernat..."
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,"Fullmetal Alchemist: BrotherhoodAction, Advent..."
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,"Gintama°Action, Comedy, Historical, Parody, Sa..."
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,"Steins;GateSci-Fi, Thriller"
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,"Gintama&#039;Action, Comedy, Historical, Parod..."

In [7]:
animes.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
tag          62
dtype: int64

In [8]:
animes[lambda x : x['genre'] == 'Drama, Romance, School, Supernatural']

,anime_id,name,genre,type,episodes,rating,members,tag
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,"Kimi no Na wa.Drama, Romance, School, Supernat..."
5805,547,Wind: A Breath of Heart OVA,"Drama, Romance, School, Supernatural",OVA,3,6.35,2043,"Wind: A Breath of Heart OVADrama, Romance, Sch..."
6394,546,Wind: A Breath of Heart (TV),"Drama, Romance, School, Supernatural",TV,13,6.14,7778,"Wind: A Breath of Heart (TV)Drama, Romance, Sc..."

In [9]:
null = animes[animes.apply(lambda x: pd.isnull(x['genre']), axis=1)]

In [10]:
null = pd.DataFrame(null)
null

,anime_id,name,genre,type,episodes,rating,members,tag
2844,33242,IS: Infinite Stratos 2 - Infinite Wedding,NaN,Special,1,7.15,6604,NaN
3541,33589,ViVid Strike!,NaN,TV,12,6.96,12345,NaN
6040,29765,Metropolis (2009),NaN,Movie,1,6.27,313,NaN
6646,32695,Match Shoujo,NaN,ONA,1,6.02,242,NaN
7018,33187,Katsudou Shashin,NaN,Movie,1,5.79,607,NaN
...,...,...,...,...,...,...,...,...
11070,32032,Seikaisuru Kado,NaN,NaN,Unknown,NaN,1797,NaN
11086,34310,Tamagotchi Movie: Tanpen Himitsu no Otodoke Da...,NaN,Movie,1,NaN,51,NaN
11097,34474,Tsukipro The Animation,NaN,TV,Unknown,NaN,843,NaN
11112,33035,Yuyushiki Special,NaN,Special,1,NaN,2294,NaN
11113,33390,Zunda Horizon,NaN,Movie,1,NaN,160,NaN

In [11]:
harem = animes[animes['genre'].str.contains('Romance',na=False)]

In [12]:
harem.iloc[11].genre

'Comedy, Drama, Romance, Sports'

In [13]:
animes.duplicated().sum()

0

In [14]:
animes.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
tag          62
dtype: int64

In [15]:
animes['type'].fillna('TV',inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_1548\452523128.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  animes['type'].fillna('TV',inplace=True)

In [16]:
animes.isnull().sum()

anime_id      0
name          0
genre        62
type          0
episodes      0
rating      230
members       0
tag          62
dtype: int64

In [17]:
animes['rating'].fillna(animes['rating'].mean(),inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_1548\3491407367.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  animes['rating'].fillna(animes['rating'].mean(),inplace=True)

In [18]:
animes.isnull().sum()

anime_id     0
name         0
genre       62
type         0
episodes     0
rating       0
members      0
tag         62
dtype: int64

In [19]:
animes = animes.drop(['tag'],axis=1)

In [20]:
animes.isnull().sum()

anime_id     0
name         0
genre       62
type         0
episodes     0
rating       0
members      0
dtype: int64

In [21]:
animes['genre'].value_counts().idxmax()

'Hentai'

In [22]:
animes.fillna('Drama',inplace=True)

In [23]:
animes.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [24]:
animes.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [25]:
animes.iloc[4].genre

'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen'

In [26]:
animes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12294 non-null  object
 3   type      12294 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12294 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [27]:
animes.drop(['members'],axis=1)

,anime_id,name,genre,type,episodes,rating
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16
...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15
12290,5543,Under World,Hentai,OVA,1,4.28
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46

In [28]:
# Convert all columns to strings and concatenate them
animes['tag'] = animes['genre'].astype(str) + " " + animes['type'].astype(str) + " " + animes['episodes'].astype(str) + " " + animes['rating'].astype(str)

In [29]:
animes.head()

,anime_id,name,genre,type,episodes,rating,members,tag
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,"Drama, Romance, School, Supernatural Movie 1 9.37"
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,"Action, Comedy, Historical, Parody, Samurai, S..."
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,"Sci-Fi, Thriller TV 24 9.17"
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,"Action, Comedy, Historical, Parody, Samurai, S..."

In [74]:
animes = animes.drop(['genre','type','episodes','rating','members'],axis=1)

In [75]:
animes['tag'][0]

'drama, romance, school, supernatural movie 1 9.37'

In [76]:
animes['tag']=animes['tag'].apply(lambda x : x.lower())

In [77]:
animes['tag'][2]

'action, comedy, historical, parody, samurai, sci-fi, shounen tv 51 9.25'

In [78]:
import nltk

In [79]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [80]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [81]:
stem('action, comedy, historical, parody, samurai, sci-fi, shounen tv 51 9.25')

'action, comedy, historical, parody, samurai, sci-fi, shounen tv 51 9.25'

In [82]:
# vectorization

In [83]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=12293,stop_words='english')

In [84]:
cv.fit_transform(animes['tag']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [85]:
cv.fit_transform(animes['tag']).toarray().shape

(12294, 243)

In [86]:
vectors = cv.fit_transform(animes['tag']).toarray()

In [87]:
vectors[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0], dtype=int64)

In [88]:
cv.get_feature_names_out()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '100',
       '1006', '101', '102', '103', '104', '105', '108', '109', '11',
       '110', '112', '113', '114', '115', '117', '119', '12', '120',
       '124', '125', '127', '1274', '128', '13', '130', '1306', '132',
       '136', '137', '14', '140', '141', '142', '1428', '143', '145',
       '147', '1471', '148', '15', '150', '151', '153', '154', '155',
       '156', '1565', '16', '161', '162', '163', '164', '167', '17',
       '170', '172', '175', '178', '1787', '18', '180', '1818', '182',
       '19', '191', '192', '193', '195', '199', '20', '200', '201', '203',
       '21', '22', '220', '224', '225', '23', '237', '24', '240', '243',
       '25', '26', '260', '263', '27', '276', '28', '283', '29', '291',
       '296', '30', '300', '305', '31', '312', '32', '33', '330', '331',
       '34', '35', '358', '36', '365', '366', '37', '373', '38', '39',
       '40', '41', '42', '43', '44', '45', '46', '47', '473901690981432',
       '475', '48', '49', '50', '51', '510', '52', '526', '53', '54',
       '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65',
       '66', '67', '68', '69', '694', '70', '71', '72', '726', '73', '74',
       '75', '76', '77', '773', '78', '79', '80', '81', '82', '83', '84',
       '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95',
       '96', '97', '98', '99', 'action', 'adventure', 'ai', 'arts',
       'cars', 'comedy', 'dementia', 'demons', 'drama', 'ecchi',
       'fantasy', 'fi', 'game', 'harem', 'hentai', 'historical', 'horror',
       'josei', 'kids', 'life', 'magic', 'martial', 'mecha', 'military',
       'movie', 'music', 'mystery', 'ona', 'ova', 'parody', 'police',
       'power', 'psychological', 'romance', 'samurai', 'school', 'sci',
       'seinen', 'shoujo', 'shounen', 'slice', 'space', 'special',
       'sports', 'super', 'supernatural', 'thriller', 'tv', 'unknown',
       'vampire', 'yaoi', 'yuri'], dtype=object)

In [89]:
len(cv.get_feature_names_out())

243

In [90]:
from sklearn.metrics.pairwise import cosine_similarity

In [91]:
similarity = cosine_similarity(vectors)

In [92]:
similarity.shape

(12294, 12294)

In [93]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1111, 0.7715167498104596),
 (208, 0.7302967433402215),
 (1494, 0.7302967433402215),
 (1959, 0.7302967433402215),
 (2060, 0.7216878364870323)]

In [94]:
# Recommendation Function

In [103]:
def recommend(anime):
    anime_index = animes[animes['name'] == anime].index[0]
    distances = similarity[anime_index]
    anime_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    for i in anime_list:
        #print(animes.iloc[i[0]].name)
        print(animes.iloc[i[0]]['name'])
    return

In [104]:
animes.head()

,anime_id,name,tag
0,32281,Kimi no Na wa.,"drama, romance, school, supernatural movie 1 9.37"
1,5114,Fullmetal Alchemist: Brotherhood,"action, adventure, drama, fantasy, magic, mili..."
2,28977,Gintama°,"action, comedy, historical, parody, samurai, s..."
3,9253,Steins;Gate,"sci-fi, thriller tv 24 9.17"
4,9969,Gintama&#039;,"action, comedy, historical, parody, samurai, s..."

In [110]:
recommend('Kimi no Na wa.')

Aura: Maryuuin Kouga Saigo no Tatakai
Kokoro ga Sakebitagatterunda.
Harmonie
Air Movie
Takanashi Rikka Kai: Chuunibyou demo Koi ga Shitai! Movie

In [109]:
anime_name = "Aura: Maryuuin Kouga Saigo no Tatakai"

# Find and print the row(s) where the 'name' column matches the anime name
row = animes.loc[animes['name'] == anime_name]

print(row)

      anime_id                                   name  \
1111     14669  Aura: Maryuuin Kouga Saigo no Tatakai

                                                    tag
1111  comedy, drama, romance, school, supernatural m...

In [111]:
recommend('One Piece')

Dragon Ball Super
Shingeki no Kyojin Season 2
One Piece: Episode of Merry - Mou Hitori no Nakama no Monogatari
One Piece: Episode of Nami - Koukaishi no Namida to Nakama no Kizuna
One Piece: Episode of Sabo - 3 Kyoudai no Kizuna Kiseki no Saikai to Uketsugareru Ishi

In [112]:
import pickle

In [113]:
pickle.dump(animes.to_dict(),open('animes_dict.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))